.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    // only for form button
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white ;
    color: $color-grey-dark ;

    &::after {
      background-color: $color-white ;
    }
  }

  &--green {
    background-color: $color-primary ;
    color: $color-white ;

    &::after {
      background-color: $color-primary ;
    }
  }

  &--animated {
    animation: movesInBottom 0.5s ease-out 0.75s ;
    animation-fill-mode: backwards ;
  }
}

.btn-text:link,
.btn-text:visited {
  font-size: $default-font-size ;
  text-decoration: none ;
  color: $color-primary ;
  padding: 3px ;
  display: inline-block ;
  border-bottom: 1px solid $color-primary ;
  transition: all .2s;
}


.btn-text:hover {
  background-color: $color-primary ;
  color: $color-white;
  box-shadow: $box-shadow-1;
  transform: translateY(-3px) ;
}

.bn-text:active {
  box-shadow: $box-shadow-1;
  transform: translateY(0);
}